/publisher.bat
/publisher.sh
/1.1.2-SNAPSHOT.jar
/Vital_Records_Birth_and_Fetal_Death_Reporting.zip
/oldinput
/20200815input
/20200817input
/input-cache/schemas/R4
/input-cache/schemas/R5
/output
/temp
/template
/input - Copy
/bundle
/publisher.jar
/fhir_validator.bat
/test.xml
/validation.xml
/validator_cli.jar
/old-input
/org.hl7.fhir.publisher.jar
