<ul xmlns="http://www.w3.org/1999/xhtml" class="nav navbar-nav">
  <li><a href="index.html">IG Home</a></li>
  <li><a href="toc.html">Table of Contents</a></li>
  <li class="dropdown">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">Connectathon<b class="caret">
      </b>
    </a>
    <ul class="dropdown-menu">
      <li><a href="provider_supplied_facility_live_birth_report.html">Provider Supplied Facility Live Birth Report</a></li>
      <li><a href="provider_supplied_facility_fetal_death_report.html">Provider Supplied Facility Fetal Death Report</a></li>    </ul>
  </li>  <li><a href="artifacts.html">Artifact Index</a></li>
</ul>
