<ul xmlns="http://www.w3.org/1999/xhtml" class="nav navbar-nav">
  <li><a href="index.html">IG Home</a></li>
  <li><a href="toc.html">Table of Contents</a></li>
  <li><a href="use_cases.html">Use Cases</a></li>

  <li><a href="patient_worksheet_questionnaires.html">Patient Worksheet Questionnaires</a></li>

  <li><a href="terminology.html">Terminology</a></li>

  <li class="dropdown">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">Appendices<b class="caret">
      </b>
    </a>
    <ul class="dropdown-menu">
      <li><a href="appendix_a_-_example_facility_worksheet_for_the_live_birth_certificate.html">Appendix A - Example Facility Worksheet for the Live Birth Certificate</a></li>
      <li><a href="appendix_b_-_example_live_birth_certificate.html">Appendix B - Example Live Birth Certificate</a></li>
      <li><a href="appendix_c_-_example_facility_worksheet_for_the_fetal_death_report.html">Appendix C - Example Facility Worksheet for the Fetal Death Report</a></li>
      <li><a href="appendix_d_-_example_fetal_death_report.html">Appendix D - Example Fetal Death Report</a></li>    </ul>
  </li>
  <li><a href="downloads.html">Downloads</a></li>
  <li><a href="artifacts.html">Artifact Index</a></li>
</ul>
