<ul xmlns="http://www.w3.org/1999/xhtml" class="nav navbar-nav">
  <li><a href="index.html">IG Home</a></li>
  <li><a href="toc.html">Table of Contents</a></li>
  <li class="dropdown">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">Use Cases<b class="caret">
      </b>
    </a>
    <ul class="dropdown-menu">
      <li><a href="use_cases.html">Use Cases</a></li>
      <li><a href="provider_facility_live_birth_report.html">Provider Facility Live Birth Report</a></li>
      <li><a href="provider_mothers_live_birth_report.html">Provider Mother&amp;apos;s Live Birth Report</a></li>
      <li><a href="provider_live_birth_report.html">Provider Live Birth Report</a></li>
      <li><a href="jurisdiction_live_birth_report.html">Jurisdiction Live Birth Report</a></li>
      <li><a href="provider_facility_fetal_death_report.html">Provider Facility Fetal Death Report</a></li>
      <li><a href="provider_fetal_death_report.html">Provider Fetal Death Report</a></li>
      <li><a href="jurisdication_fetal_death_report.html">Jurisdication Fetal Death Report</a></li>
      <li><a href="provider_mothers_fetal_death_report.html">Provider Mother&amp;apos;s Fetal Death Report</a></li>
      <li><a href="void_certificate_report.html">Void Certificate Report</a></li>
      <li><a href="coded_race_and_ethnicity.html">Coded Race and Ethnicity</a></li>    </ul>
  </li>
  <li><a href="the_specification.html">The Specification</a></li>

  <li class="dropdown">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">Appendices<b class="caret">
      </b>
    </a>
    <ul class="dropdown-menu">
      <li><a href="appendix_a_-_example_facility_worksheet_for_the_live_birth_certificate.html">Appendix A - Example Facility Worksheet for the Live Birth Certificate</a></li>
      <li><a href="appendix_b_-_example_live_birth_certificate.html">Appendix B - Example Live Birth Certificate</a></li>
      <li><a href="appendix_c_-_example_facility_worksheet_for_the_fetal_death_report.html">Appendix C - Example Facility Worksheet for the Fetal Death Report</a></li>
      <li><a href="appendix_d_-_example_fetal_death_report.html">Appendix D - Example Fetal Death Report</a></li>    </ul>
  </li>
  <li class="dropdown">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">Examples<b class="caret">
      </b>
    </a>
    <ul class="dropdown-menu">
      <li><a href="examples_for_provider_facility_live_birth_report.html">Examples for Provider Facility Live Birth Report</a></li>
      <li><a href="examples_for_provider_facility_fetal_death_report.html">Examples for Provider Facility Fetal Death Report</a></li>
      <li><a href="examples_for_jurisdiction_fetal_death_report.html">Examples for Jurisdiction Fetal Death Report</a></li>
      <li><a href="examples_for_jurisdiction_live_birth_report.html">Examples for Jurisdiction Live Birth Report</a></li>    </ul>
  </li>
  <li><a href="downloads.html">Downloads</a></li>
  <li><a href="artifacts.html">Artifact Index</a></li>
</ul>
